/* .card:hover {
  transform: scale(1.01);
  border: solid 1px black;
}
.sidebar-sticky {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: 0.5 rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
.footer-page {
  position: relative;
  z-index: 1000;
}
.nav-link {
  color: black;
  font-weight: bold;
} */
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

a:hover {
  text-decoration: none;
}

h5.card-title {
  font-size: 16px;
}